# ======================
# Maven / Spring Boot
# ======================
/target/
/*.log
/*.jar
/*.war

# Ignore IDE/editor files
*.iml
/.idea/
/.vscode/
/*.class

# Flyway / SQL migration (if you ever generate temp files)
/src/main/resources/db/migration/*.lock

# Docker
docker-compose.override.yml
.env

# OS files
**/.DS_Store #macOS
Thumbs.db
.DS_Store
src/.DS_Store
src/main/java/.DS_Store
